* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.box {
  width: calc(33.33% - 40px);
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.2s ease;
}

.box:hover {
  transform: scale(1.05);
}

.header {
  padding: 10px;
}

.content {
  padding: 10px;
}

.content ul li {
  margin-top: 12px;
  margin-bottom: 12px;
}

.title {
  margin: 0;
}